# Sites
_site
.sass-cache
.jekyll-metadata
Gemfile.lock
vendor/*
.bundle/
package.json
package-lock.json
node_modules/

# Python
*.pyc
.mypy_cache/

# Notebooks
_notebooks/.ipynb_checkpoints/
assets/notebooks/html_*/
assets/notebooks/2022-04-28-utd-transition-function_files/2022-04-28-utd-transition-function_3_0.svg
assets/images/2022-04-28-utd-transition-function_files/2022-04-28-utd-transition-function_3_0.svg
assets/images/2022-08-29-mcq-opinion_files/2022-08-29-mcq-opinion_4_0.svg

_posts/2022-04-28-utd-transition-function.md
_posts/2022-11-04-plotly-test.md

# Slides
_slides/media/
_slides/slides/
_slides/*/slides/
_slides/*/media/
_slides/*/.cache/
_slides/*/*_assets/
_slides/*/*.pptx
_slides/*/*.pdf
_slides/*/*.html
_slides/*/.python-version
_slides/*/uv.lock
