_site
.sass-cache
.jekyll-metadata
Gemfile.lock
vendor/*

.bundle/

_notebooks/.ipynb_checkpoints/

*.pyc

_posts/2022-04-28-utd-transition-function.md

assets/images/2022-04-28-utd-transition-function_files/2022-04-28-utd-transition-function_3_0.svg

assets/images/2022-08-29-mcq-opinion_files/2022-08-29-mcq-opinion_4_0.svg

_posts/2022-08-29-mcq-opinion.md

*.aux

*.bbl

*.fdb_latexmk

*.xmpi

latex/resume/main.run.xml

latex/resume/main.pdf

*.out

*.log

*.bcf

*.blg

*.fls

assets/pdfs/resume.pdf

_posts/2022-11-04-plotly-test.md

_slides/media/
_slides/slides/