repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: https://github.com/pre-commit/mirrors-csslint
    rev: v1.0.5
    hooks:
    -   id: csslint
-   repo: https://github.com/pre-commit/mirrors-eslint
    rev: 'v8.17.0'  # Use the sha / tag you want to point at
    hooks:
    -   id: eslint
        additional_dependencies:
        -   eslint@7.32.0
        -   eslint-plugin-vue@7.17.0
        args: [--fix]
-   repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
    - id: black
      types_or: [python, jupyter]
      additional_dependencies: [".[jupyter]"]
