# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Jérome Eertmans
email: jerome.eertmans@uclouvain.be
description: >- # this means to ignore newlines until "baseurl:"
  Welcome to my personal website, where I talk about my research, as well as my teachings and other side projects.
github_username: jeertmans
minimal_mistakes_skin: dirt
search: true

# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes
excerpt_separator: "\n\n"
# Outputting
permalink: /:categories/:title/
paginate: 5 # amount of posts to show
paginate_path: /page:num/
timezone: Europe/Brussels
include:
  - _pages

# Sass setting
sass:
  sass_dir: _sass
  style: compressed

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

author:
  name: "Jérome Eertmans"
  avatar: "/assets/images/profile.png"
  bio: "PhD student in Differentiable Ray Tracing for Telecommunications."
  location: "UCLouvain, Belgium"
  links:
    - label: "Contact"
      icon: "fas fa-fw fa-envelope"
      url: "mailto:jerome.eertmans@uclouvain.be"
    - label: "University Directory"
      icon: "fas fa-fw fa-graduation-cap"
      url: "https://uclouvain.be/fr/repertoires/jerome.eertmans"
    - label: "Google Scholar"
      icon: "fab fa-fw fa-google"
      url: "https://scholar.google.com/citations?user=bVbwyxAAAAAJ"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/jeertmans"
    - label: "LinkedIn"
      icon: "fab fa-fw fa-linkedin"
      url: "https://www.linkedin.com/in/j%C3%A9rome-eertmans-130ab1130/"
    - label: "ORCID"
      icon: "fab fa-fw fa-orcid"
      url: "https://orcid.org/0000-0002-5579-5360"

footer:
  links:
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/jeertmans/jeertmans.github.io"

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
      show_date: true
      date_format: "%Y-%m-%d"
      mathjax: true
      classes: wide
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true
      classes: wide
      tagline: ""
      header:
        overlay_image: /assets/images/header.jpg
        overlay_filter: linear-gradient(rgba(70, 77, 132, 0.5), rgba(118, 188, 232, 0.5))
        caption: "Photo credit: [**Unsplash**](https://unsplash.com/photos/0C9VmZUqcT8)"

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/

# https://github.com/DIYbiosphere/sphere/issues/140
github: [metadata]

# https://github.com/jekyll/jekyll/issues/4705
repository: jeertmans/jeertmans.github.io

comments:
  provider: "utterances"
  utterances:
    theme: "github-light" # "github-dark"
    issue_term: "pathname"
    label: "comment" # Optional - must be existing label.

after_footer_scripts:
  - /assets/scripts/index.js
  - /assets/scripts/mode-switcher.js
