@media print {
    @page {
        size: A4;
    }

    @page :first {
    }

    body {
        padding: 0 !important;
    }

    a:after {
        content: '' !important;
    }

    .resume {
        box-shadow: none;

        .avatar img {
            max-width: 100px !important;
        }
    }

    footer {
        display: none;
    }

    .page__hero-caption {
        display: none;
    }
}
