{% assign teachings = site.data.teaching %}

{% assign default_num = paginator.projects | size %}
{% assign default_end = default_num | minus: 1 %}

<div class="post-content">
  {{ content }}
</div>

<div id="post-list">
  {% for teaching in teachings %}
    <p class="card-wrapper">
      <div class="card post-preview flex-md-row-reverse">
        {% if teaching.image %}
          {% if teaching.image.lqip %}
            {% capture lqip %}lqip="{{ teaching.image.lqip }}"{% endcapture %}
          {% endif %}

          {% assign src = teaching.image.path | default: teaching.image %}
          {% unless src contains '//' %}
            {% assign src = teaching.img_path | append: '/' | append: src | replace: '//', '/' %}
          {% endunless %}

          {% assign alt = teaching.image.alt | xml_escape | default: 'Preview Image' %}

          <img src="{{ src }}" w="17" h="10" alt="{{ alt }}" {{ lqip }}>
        {% endif %}

        <div class="card-body d-flex flex-column no-min-height">
          <h1 class="card-title my-2 mt-md-0">
            {{ teaching.course }}
          </h1>

          {% if teaching.details %}
          <div class="card-text post-content mt-0 mb-2">
            <p class="no-text-clip">
              {% include no-linenos.html content=teaching.details %}
              {{ content | markdownify | strip_html | escape }}
            </p>
          </div>
          {% endif %}

          <div class="post-meta d-flex align-items-end">
            <div class="me-auto">
              <span>
                {{ teaching.time }}
              </span>
              <span>
                {{ teaching.company }}
              </span>
              <span>
                {{ teaching.location }}
              </span>
              {% if teaching.github %}
              <span class="icon-border">
                <a href="https://github.com/{{ teaching.github }}"
                   aria-label="github">
                  <i class="fab fa-github"></i>
                </a>
              </span>
              {% endif %}
              {% if teaching.website %}
              <span class="icon-border">
                <a href="{{ teaching.website }}"
                   aria-label="website">
                  <i class="fas fa-globe fa-fw"></i>
                </a>
              </span>
              {% endif %}
            </div>

            <div class="pin ms-1">
              <span>{{ teaching.role }}</span>
            </div>
          </div>
          <!-- .post-meta -->
        </div>
        <!-- .card-body -->
      </div>
    </p>
  {% endfor %}
</div>
<!-- #post-list -->
