---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "theme-toggle.css";
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


html,
html[data-theme="light"] {
  --link-color: rgb(82, 82, 82);
  --main-background-color: hsl(0, 0%, 90%);
  --main-text-color: hsl(0, 0%, 20%);
  --muted-text-color: hsl(0, 0%, 55%);
  --code-background-color: #fafafa;
  --footer-background-color: rgba(92, 153, 229, 0.18);
}

html[data-theme="dark"] {
  --link-color: rgb(100, 210, 255);
  --main-background-color: hsl(0, 0%, 20%);
  --main-text-color: hsl(0, 0%, 85%);
  --muted-text-color: hsl(0%, 0%, 55%);
  --code-background-color: #222222;
  --footer-background-color: rgba(182, 182, 182, 0.22);
}

@media (prefers-color-scheme: dark) {
  html,
  html[data-theme="dark"] {
    --link-color: rgb(100, 210, 255);
    --main-background-color: hsl(0, 0%, 20%);
    --main-text-color: hsl(0, 0%, 55%);
    --muted-text-color: hsl(0%, 0%, 95%);
    --code-background-color: #222222;
    --footer-background-color: rgba(182, 182, 182, 0.22);
  }

  html[data-theme="light"] {
    --link-color: rgb(82, 82, 82);
    --main-background-color: hsl(0, 0%, 90%);
    --main-text-color: hsl(0, 0%, 20%);
    --muted-text-color: hsl(0, 0%, 55%);
    --code-background-color: #fafafa;
    --footer-background-color: rgba(92, 153, 229, 0.18);
  }
}

*:focus {
  outline: 0 !important;
}

.social-icons {
  .fa-graduation-cap {
    color: #5cb2e5;
  }

  .fa-map-marker-alt {
    color: #002e60;
  }

  .fa-google {
    color: #4888f4;
  }

  .fa-orcid {
    color: #8fe646;
  }

  .fa-envelope {
    color: #002e60;
  }
}

.page__footer {
  background-color: var(--footer-background-color) !important;
  color: var(--main-text-color) !important;
}

body {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
}

a,
a:visited {
  color: var(--main-text-color);
}

.greedy-nav {
  background-color: var(--main-background-color);
}

.greedy-nav a,
.search__toggle {
  color: var(--main-text-color);
}

.greedy-nav a,
.greedy-nav i {
    
  &:hover {
      color: unset !important;
      -webkit-filter: brightness(2);
      filter: brightness(2);
  }
}

.page__content :not(pre) > code {
  background: var(--code-background-color);
}

/* Copy block */

.copy {
  position: absolute;
  display: inline-block;
  padding: 12px-12px;
  height: 35px;
  width: 35px;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid;
  appearance: none;
  user-select: none;
  cursor: pointer;
  box-sizing: border-box;
}

/**
 * Codeblock.
 */

.code-summary {
  margin-left: 0.5rem;
}

.language-sh code::before {
  content: "$";
  margin-right: 1rem;
  color: #f8f8f2;
}

pre.highlight {
  padding: 8px 12px;
  position: relative;

  // override skeleton styles
  > code {
    border: 0;
    overflow-x: auto;
    padding-right: 0;
    padding-left: 0;
  }

  &.highlight {
    border-left: 15px solid #35383c;
    color: #c1c2c3;
    overflow: auto;
    white-space: pre;
    word-wrap: normal;

    &,
    code {
      background-color: #222;
      font-size: 18px;
    }
  }
  // copy code to clipboard
  .copy {
    color: #fff;
    position: absolute;
    right: 1.2rem;
    top: 0.95rem;
    opacity: 0;

    &:active,
    &:focus,
    &:hover {
      background: rgba(0, 0, 0, 0.7);
      opacity: 1;
    }
  }

  &:active .copy,
  &:focus .copy,
  &:hover .copy {
    background: rgba(0, 0, 0, 0.7);
    opacity: 1;
  }
}
