---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.social-icons {
    .fa-graduation-cap {
        color: #5cb2e5;
    }

    .fa-map-marker-alt {
        color: #002e60;
    }

    .fa-google {
        color: #4888f4;
    }

    .fa-orcid {
        color: #8fe646;
    }

    .fa-envelope {
        color: #002e60;
    }
}

.page__footer {
    background-color: rgba(92, 153, 229, 0.18) !important;
    color: #000000 !important;
}

.button, button, input[type=button], input[type=reset], input[type=submit] {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: #555;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
}

/**
 * Codeblock.
 */

.code-summary {
    margin-left: .5rem;
}

.language-sh code::before {
  content: '$';
  margin-right: 1rem;
  color: #f8f8f2;
}

pre.highlight {
  padding: 8px 12px;
  position: relative;

  // override skeleton styles
  > code {
    border: 0;
    overflow-x: auto;
    padding-right: 0;
    padding-left: 0;
  }

  &.highlight {
    border-left: 15px solid #35383c;
    color: #c1c2c3;
    overflow: auto;
    white-space: pre;
    word-wrap: normal;

    &,
    code {
      background-color: #222;
      font-size: 18px;
    }
  }

  // copy code to clipboard
  .copy {
    color: #fff;
    position: absolute;
    right: 1.2rem;
    top: 0.7rem;
    opacity: 0;

    &:active,
    &:focus,
    &:hover {
      background: rgba(0, 0, 0, 0.7);
      opacity: 1;
    }
  }

  &:active .copy,
  &:focus .copy,
  &:hover .copy {
    background: rgba(0, 0, 0, 0.7);
    opacity: 1;
  }
}
