---
layout: page
refactor: false
---

{% include lang.html %}

{% assign pinned = site.projects | where: 'pin', 'true' %}
{% assign default = site.projects | where_exp: 'item', 'item.pin != true and item.hidden != true' %}

{% assign projects = pinned | concat: default %}

<div class="post-content">
  {{ content }}
</div>

<div id="post-list">
  {% for project in projects %}
    <a href="{{ project.url | relative_url }}" class="card-wrapper">

      <div class="card post-preview flex-md-row-reverse">
        {% if project.image %}
          {% if project.image.lqip %}
            {% capture lqip %}lqip="{{ project.image.lqip }}"{% endcapture %}
          {% endif %}

          {% assign src = project.image.path | default: project.image %}
          {% unless src contains '//' %}
            {% assign src = project.img_path | append: '/' | append: src | replace: '//', '/' %}
          {% endunless %}

          {% assign alt = project.image.alt | xml_escape | default: 'Preview Image' %}

          <img src="{{ src }}" w="17" h="10" alt="{{ alt }}" {{ lqip }}>
        {% endif %}

        <div class="card-body d-flex flex-column">
          <h1 class="card-title my-2 mt-md-0">
            {{ project.title }}
          </h1>

          <div class="card-text post-content mt-0 mb-2">
            <p>
              {% include no-linenos.html content=project.content %}
              {{ content | markdownify | strip_html | truncate: 200 | escape }}
            </p>
          </div>

          <div class="post-meta flex-grow-1 d-flex align-items-end">
            <div class="me-auto">
              <!-- github -->
              {% if project.github %}
              <img src="https://img.shields.io/github/stars/{{ project.github }}">
              {% endif %}
            </div>

            {% if project.pin %}
              <div class="pin ms-1">
                <i class="fas fa-thumbtack fa-fw"></i>
                <span>{{ site.data.locales[lang].post.pin_prompt }}</span>
              </div>
            {% endif %}
          </div>
          <!-- .post-meta -->
        </div>
        <!-- .card-body -->
      </div>
    </a>
  {% endfor %}
</div>
<!-- #post-list -->

{% if paginator.total_pages > 1 %}
  {% include post-paginator.html %}
{% endif %}
