name: Update gh-pages branch

on:
  push:
    branches:
      - main

jobs:
  github-pages:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: 'gh-pages'
          fetch-depth: 0
      - name: Reset gh-pages to origin/main
        run: |
          git reset --hard origin/main
      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: 3.9
      - name: Install Python dependencies
        run: |
          python -m pip install notebook
      - name: Convert notebooks to posts
        run: |
          [ -d _notebooks ] && [ "$(find _notebooks -type f -iname '*.ipynb')" ] && python -m jupyter nbconvert _notebooks/*.ipynb --to markdown --output-dir assets/images || echo "No notebook found"
          find assets/images -type f -iname '*.md' | xargs -n 1 sed -i -E "s/(!\[png\])\((.*)\)/\1(assets\/images\/\2)/"
          mv assets/images/*.md _posts/
      - name: Push latest changes to gh-pages
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: 'Update gh-pages w/ respect to main'
          push_options: '--force'
